body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(235, 234, 232);
  color: rgb(54, 54, 54);
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

header {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  max-width: 350px;
}

.header-right {
  display: flex;
  flex-direction: column;
}

.header-right a {
  text-decoration: none;
  color: rgb(54, 54, 54);
  border: 2px solid rgb(54, 54, 54);
  padding: 10px 15px;
  margin: 5px;
}

div a:hover {
  text-decoration: underline;
}

.project {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: rgb(54, 54, 54);
  padding-bottom: 5px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.techs img {
  padding: 5px;
  height: 30px;
}
